.container {
  display: flex;
  border: 1px solid var(--border-color);
  border-radius: 100px;
  overflow: hidden;
  width: 30%;
}

.input {
  background-color: var(--bg-color);
  border: none;
  padding: 0.75rem;
  outline: none;
  width: 100%;
  font-size: 0.9rem;
}

.button {
  white-space: nowrap;
  font-size: 1.5rem;
  background: none;
  /* background-color: var(--primary-color); */
  border: none;
  border-left: 1px solid var(--border-color);
  color: gray;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
}

.button:not(:disabled) {
  color: lime;
}

.button:not(:disabled):hover {
  cursor: pointer;
  background-color: var(--border-color);
}

.button:not(:disabled) svg {
  filter: drop-shadow(0 0 5px lime);
}
