.container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.container h2 {
  font-size: 1.25rem;
  font-weight: normal;
}

.entry {
  background-color: var(--bg-color);
  color: white;
  border: 1px solid var(--border-color);
  font-family: monospace;
  padding: 1.5rem 1rem;
  cursor: pointer;
}

.entry:hover {
  background-color: var(--border-color);
}

.empty_message {
  color: gray;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
